@Model  LamboGallery.Models.Lambo[]
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var l in Model)
    { 
    <div class="col-md-3">
        <h4>@l.DisplayText</h4>
        <img src="@l.CoverImageFileName"
             alt="@l.DisplayText"
             class="img-responsive" />
    </div>
    }
</div>

